body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

[data-theme="light"] {
	background-color: black !important;
	color: white !important;
}

[data-theme="light"] * {
	color: white !important;
	border-color: white !important;
	background-color: transparent !important;
	fill: white !important;
	stroke: white !important;
}

[data-theme="light"] .container,
[data-theme="light"] .row,
[data-theme="light"] .column,
[data-theme="light"] #root {
	background-color: black !important;
}

[data-theme="light"] input,
[data-theme="light"] textarea,
[data-theme="light"] .my-input-text {
	background-color: black !important;
	border: 1px solid white !important;
	color: white !important;
}

[data-theme="light"] .my-input-text::placeholder {
	color: rgba(255, 255, 255, 0.7) !important;
}

[data-theme="light"] #themeToggle {
	color: white !important;
	border-color: white !important;
	background-color: black !important;
}

.chat {
	padding-top: 40px;
}

#root {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow-y: auto;
	height: 100%;
}

.message {
	margin-bottom: 10px;
}

.message .user {
	font-weight: bold;
	text-align: right;
}

.message .remove {
	position: absolute;
	width: 22px;
	height: 20px;
	left: -60px;
	display: none;
	padding: 0;
	line-height: 18px;
}

.send-message {
	padding: 0;
}

.my-input-text::placeholder {
	color: #ccc;
}

[data-theme="dark"] {
	background-color: initial !important;
	color: initial !important;
}

[data-theme="dark"] * {
	color: initial !important;
	border-color: initial !important;
	background-color: initial !important;
	fill: initial !important;
	stroke: initial !important;
}
